<!DOCTYPE HTML>
<html th:replace="~{layout.html::layout(~{::title}, ~{::div.main}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Revenda: Fabricantes</title> 
    <script>
        function confirmar(link, descricao){
            const dialog = document.querySelector('.dialog-overview');
            document.querySelector('#spanNomeFabricante').textContent = descricao;
            const btnConfirmar = dialog.querySelector('#btnConfirmar');
            btnConfirmar.href = link;
            dialog.show();
        }
    </script>
</head>
<body>
    <div class="main">
        <h2>Fabricantes</h2>

        <sl-alert variant="success" open th:if="${msgSucesso}">
            <sl-icon slot="icon" name="check2-circle"></sl-icon>
            <span th:text=${msgSucesso}></span>
        </sl-alert>

        <sl-alert variant="danger" open th:if="${msgErro}">
            <sl-icon slot="icon" name="exclamation-octagon"></sl-icon>
            <span th:text=${msgErro}></span>
        </sl-alert>

        <p>
            <sl-button href="/fabricantes/form" variant="primary">
                <sl-icon slot="prefix" name="plus-circle"></sl-icon>
                Cadastrar fabricante
            </sl-button>
        </p>

        <figure>
            <table>
                <thead>
                    <tr>
                        <th>Fabricante</th>
                        <th>Alterar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="f: ${fabricantes}">
                        <td th:text="${f.descricao}">Fiat</td>
                        
                        <td class="center">
                            <sl-icon-button name="pencil" label="alterar" th:href="@{'/fabricantes/form/'+${f.id}}"></sl-icon-button>
                        </td>
                        
                        <td class="center">
                            <sl-icon-button name="trash" label="excluir" th:onclick="confirmar([[@{'/fabricantes/excluir/'+${f.id}}]], [[${f.descricao}]])"></sl-icon-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </figure>

        <sl-dialog class="dialog-overview">
            <sl-icon name="exclamation-triangle" slot="label"></sl-icon>
            Confirmar exclusão do fabricante <strong id="spanNomeFabricante"></strong>?
            <sl-button slot="footer" variant="primary" id="btnConfirmar">
                <sl-icon slot="prefix" name="check-circle"></sl-icon>
                Sim
            </sl-button>
            <sl-button slot="footer" variant="default" onclick="document.querySelector('.dialog-overview').hide()">
                <sl-icon slot="prefix" name="x-circle"></sl-icon>
                Cancelar
            </sl-button>
        </sl-dialog>
    </div>
</body>
</html>