<!DOCTYPE html>
<html th:fragment="layout(titulo, conteudo, js)" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:replace="${titulo}">Título</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/shoelace-autoloader.js"></script>
    
    <link href="/styles.css" rel="stylesheet">
    <script th:replace="${js}"></script>
</head>
<body>
    <div>
        <header>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <h3><a href="/">Revenda de veículos</a></h3>
                <div>
                    <form action="#" th:action="@{/logout}" method="post" id="formLogout">
                        <sl-button type="submit">
                            <sl-icon slot="suffix" name="box-arrow-right"></sl-icon>
                            Sair
                        </sl-button>
                    </form>
                </div>
            </div>
            <nav>
                <sl-button href="/veiculos">Veículos</sl-button>
                <sl-button href="/modelos">Modelos</sl-button>
                <sl-button href="/fabricantes">Fabricantes</sl-button>
                <sl-button href="/tipos_veiculo">Tipos de veículo</sl-button>
            </nav>
        </header>
        <div th:replace="${conteudo}">
            <p>Conteúdo</p>
        </div>
    </div>
</body>
</html>