<!DOCTYPE HTML>
<html th:replace="~{layout.html::layout(~{::title}, ~{::div.main}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Revenda: Modelos</title> 
    <script th:inline="javascript">
        function confirmar(idModelo, modelo){
            const dialog = document.querySelector('.dialog-overview');
            document.querySelector('#spanNomeModelo').textContent = modelo;
            const btnConfirmar = dialog.querySelector('#btnConfirmar');
            btnConfirmar.idModelo = idModelo;
            btnConfirmar.modelo = modelo;
            dialog.show();
        }
        function alertarErro(msg){
            const alert = document.querySelector("#alertErro");
            alert.querySelector("span").textContent = msg;
            alert.show();
        }
        function alertarSucesso(msg){
            const alert = document.querySelector("#alertSucesso");
            alert.querySelector("span").textContent = msg;
            alert.show();
        }
        function limparAlertas(){
            document.querySelector("#alertErro").hide();
            document.querySelector("#alertSucesso").hide();
        }

        var ready = (callback) => {
            if (document.readyState != "loading") callback();
            else document.addEventListener("DOMContentLoaded", callback);
        }
        ready(() => {
            /* BOTÃO PARA CONFIRMAR EXCLUSÃO DE VEÍCULO */
            const btnConfirmar = document.querySelector('#btnConfirmar');
            btnConfirmar.addEventListener('click', async event => {
                limparAlertas();
                try {
                    const idModelo = btnConfirmar.idModelo;
                    const url = /*[[@{/modelos/excluir/}]]*/ '';
                    const response = await fetch(url + idModelo);
                    if(response.ok){
                        alertarSucesso(`Modelo ${btnConfirmar.modelo} excluído com sucesso.`);
                        const tr = document.querySelector(`#tr_${idModelo}`);
                        document.querySelector('tbody').removeChild(tr);
                    }
                    else
                        throw new Error(response.status);
                } 
                catch (error) {
                    console.log("Falha na requisição: " + error);
                    alertarErro("Ocorreu um erro");
                }
                btnConfirmar.idModelo = null;
                btnConfirmar.modelo = null;
                document.querySelector('.dialog-overview').hide();
            });
            /* FORMULÁRIO DE PESQUISA */
            const form = document.querySelector("#formPesquisa");
            form.addEventListener("submit", async (event) => {
                event.preventDefault();
                limparAlertas();
                const form = document.querySelector('#formPesquisa');
                const formData = new FormData(form);
                const formAction = form.action;
                try {
                    const response = await fetch(
                        formAction, 
                        {
                            method: 'POST', 
                            body: formData
                        });
                    if(response.ok){
                        data = await response.text();
                        tabela = document.querySelector("table > tbody");
                        tabela.innerHTML = data;
                    }
                    else if(response.status === 400){ // Bad request
                        console.log('BAD REQUEST => ', response);
                        msgErro = await response.text();
                        alertarErro(msgErro);
                    }
                    else
                        throw new Error(response.status);
                }
                catch(error){
                    console.error('Requisição falhou: ', error);
                    alertarErro('Ocorreu um erro');
                }
            });
        });
    </script>
</head>
<body>
    <div class="main">
        <h2>Modelos</h2>

        <sl-alert variant="success" th:open="${msgSucesso}" id="alertSucesso">
            <sl-icon slot="icon" name="check2-circle"></sl-icon>
            <span th:text=${msgSucesso}></span>
        </sl-alert>

        <sl-alert variant="danger" th:open="${msgErro}" id="alertErro">
            <sl-icon slot="icon" name="exclamation-octagon"></sl-icon>
            <span th:text=${msgErro}></span>
        </sl-alert>

        <p>
            <sl-button th:href="@{/modelos/form}" variant="primary">
                <sl-icon slot="prefix" name="plus-circle"></sl-icon>
                Cadastrar modelo
            </sl-button>
        </p>

        <sl-divider></sl-divider>
        
        <form class="input-validation-required" th:action="@{/modelos/pesquisar}" th:object="${form}" method="post" id="formPesquisa">
            <sl-input name="modelo" label="Modelo" th:value="*{modelo}" clearable></sl-input>
            <br>
            
            <sl-select label="Fabricante" name="idFabricante" th:value="*{idFabricante}" clearable> <!-- th:value="${idFabricante}" é usado para manter a opção selecionada após a consulta ser realizada -->
                <sl-option th:each="f : ${fabricantes}" th:value="${f.id}" th:text="${f.descricao}">Option 1</sl-option>
            </sl-select>
            <br>
            
            <sl-select label="Tipo de veículo" name="idTipoVeiculo" th:value="*{idTipoVeiculo}" clearable>
                <sl-option th:each="t : ${tipos}" th:value="${t.id}" th:text="${t.descricao}">Option 1</sl-option>
            </sl-select>
            <br>
            <sl-button variant="success" type="submit">
                <sl-icon slot="prefix" name="search"></sl-icon>
                Pesquisar
            </sl-button>
        </form>
        
        <figure>
            <br>
            <table>
                <thead>
                    <tr>
                        <th>Modelo</th>
                        <th>Tipo</th>
                        <th>Fabricante</th>
                        <th>Alterar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="m: ${modelos}" th:fragment="linhas_tabela" th:id="${'tr_' + m.id}">
                        <td th:text="${m.descricao}">Pálio</td>
                        <td th:text="${m.tipo.descricao}">Hatch</td>
                        <td th:text="${m.fabricante.descricao}">Fiat</td>
                        
                        <td class="center">
                            <sl-icon-button name="pencil" label="alterar" th:href="@{'/modelos/form/'+${m.id}}"></sl-icon-button>
                        </td>
                        
                        <td class="center">
                            <sl-icon-button name="trash" label="excluir" th:onclick="confirmar([[${m.id}]], [[${m.descricao}]])"></sl-icon-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </figure>

        <sl-dialog class="dialog-overview">
            <sl-icon name="exclamation-triangle" slot="label"></sl-icon>
            Confirmar exclusão do modelo <strong id="spanNomeModelo"></strong>?
            <sl-button slot="footer" variant="primary" id="btnConfirmar">
                <sl-icon slot="prefix" name="check-circle"></sl-icon>
                Sim
            </sl-button>
            <sl-button slot="footer" variant="default" onclick="document.querySelector('.dialog-overview').hide()">
                <sl-icon slot="prefix" name="x-circle"></sl-icon>
                Cancelar
            </sl-button>
        </sl-dialog>
    </div>
</body>
</html>