<!DOCTYPE HTML>
<html th:replace="~{layout.html::layout(~{::title}, ~{::div.main}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Revenda: Veículos</title> 
    <script>
        function confirmar(idVeiculo, placa){
            const dialog = document.querySelector('#dialogConfirmarExclusao');
            document.querySelector('#spanPlacaVeiculo').textContent = placa;
            const btnConfirmar = dialog.querySelector('#btnConfirmar');
            btnConfirmar.idVeiculo = idVeiculo;
            btnConfirmar.placa = placa;
            dialog.show();
        }
        function alertarErro(msg){
            const alert = document.querySelector("#alertErro");
            alert.querySelector("span").textContent = msg;
            alert.show();
        }
        function alertarSucesso(msg){
            const alert = document.querySelector("#alertSucesso");
            alert.querySelector("span").textContent = msg;
            alert.show();
        }
        function limparAlertas(){
            document.querySelector("#alertErro").hide();
            document.querySelector("#alertSucesso").hide();
        }
        function verFoto(idVeiculo){
            const imgUrl = `/veiculos/${idVeiculo}/foto`;
            document.querySelector('#imgVeiculo').src = imgUrl;
            document.querySelector('#dialogFoto').show();
        }

        var ready = (callback) => {
            if (document.readyState != "loading") callback();
            else document.addEventListener("DOMContentLoaded", callback);
        }
        ready(() => {
            /* BOTÃO PARA CONFIRMAR EXCLUSÃO DE VEÍCULO */
            const btnConfirmar = document.querySelector('#btnConfirmar');
            btnConfirmar.addEventListener('click', async event => {
                limparAlertas();
                try {
                    const idVeiculo = btnConfirmar.idVeiculo;
                    const response = await fetch('/veiculos/excluir/' + idVeiculo);
                    if(response.ok){
                        alertarSucesso(`Veículo de placa ${btnConfirmar.placa} excluído com sucesso.`);
                        const tr = document.querySelector(`#tr_${idVeiculo}`);
                        document.querySelector('tbody').removeChild(tr);
                    }
                    else
                        throw new Error(response.status);
                } 
                catch (error) {
                    console.log("Falha na requisição: " + error);
                    alertarErro("Ocorreu um erro");
                }
                btnConfirmar.idVeiculo = null;
                btnConfirmar.placa = null;
                document.querySelector('#dialogConfirmarExclusao').hide();
            });
            /* CAMPOS SELECT */
            const selectFabricante = document.querySelector('sl-select[name="idFabricante"]');
            selectFabricante.addEventListener('sl-change', async event => {
                const selectModelo = document.querySelector('sl-select[name="idModelo"]');
                // remove opções de modelo atuais
                const optionsModelo = document.querySelectorAll('sl-select[name="idModelo"] > sl-option')
                for(const op of optionsModelo){
                    selectModelo.removeChild(op);
                }
                // atualiza select de modelos
                if(selectFabricante.value === ''){
                    selectModelo.disabled = true;
                }
                else{
                    try{
                        const response = await fetch('veiculos/modelos?idFabricante=' + selectFabricante.value);
                        const data = await response.json();
                        for (const [i, obj] of Object.entries(data)) {
                            let op = document.createElement("sl-option");
                            op.value = obj.id;
                            op.innerText = obj.descricao + " " + obj.tipo.descricao;
                            selectModelo.appendChild(op);
                        };
                    }
                    catch(error){
                        console.log("Falha na requisição: " + error);
                        alertarErro("Ocorreu um erro.");
                    }
                    selectModelo.disabled = false;
                }
            });
            /* FORMULÁRIO DE PESQUISA */
            const form = document.querySelector("form");
            form.addEventListener("submit", async (event) => {
                event.preventDefault();
                limparAlertas();
                const form = document.querySelector('form');
                const formData = new FormData(form);
                const formAction = form.action;
                try {
                    const response = await fetch(
                        formAction, 
                        {
                            method: 'POST', 
                            body: formData
                        });
                    if(response.ok){
                        data = await response.json();
                        tabela = document.querySelector("table > tbody");
                        tabela.innerHTML = '';
                        for (const [i, obj] of Object.entries(data)) {
                            let linha = document.createElement("tr");
                            linha.id = `tr_${obj.id}`;
                            let colunas = `<td>${obj.placa}</td><td>${obj.anoFabricacao}</td><td>${obj.modelo.fabricante.descricao}</td>
                                <td>${obj.modelo.descricao}</td><td>${obj.modelo.tipo.descricao}</td>`;
                            if(obj.foto){
                                colunas += `<td class="center"><sl-icon-button name="eye" label="ver foto" 
                                    onclick="verFoto(${obj.id})"></sl-icon-button></td>`
                            }
                            else
                                colunas += '<td class="center">Sem foto</td>';
                            colunas += `<td class="center"><sl-icon-button name="pencil" label="alterar" 
                                href="/veiculos/form/${obj.id}"></sl-icon-button></td>`
                            colunas += `<td class="center"><sl-icon-button name="trash" label="excluir"
                                onclick="confirmar(${obj.id}, '${obj.placa}')"></sl-icon-button></td>`;
                            linha.innerHTML = colunas;
                            tabela.appendChild(linha);
                        }
                    }
                    else if(response.status === 400){ // Bad request
                        console.log('BAD REQUEST => ', response);
                        data = await response.json();
                        alertarErro(data.msgErro);
                    }
                    else
                        throw new Error(response.status);
                }
                catch(error){
                    console.error('Requisição falhou: ', error);
                }
            });
        });
    </script>
</head>
<body>
    <div class="main">
        <h2>Veículos</h2>

        <sl-alert id="alertSucesso" variant="success" th:open="${msgSucesso}">
            <sl-icon slot="icon" name="check2-circle"></sl-icon>
            <span th:text=${msgSucesso}></span>
        </sl-alert>

        <sl-alert id="alertErro" variant="danger" th:open="${msgErro}">
            <sl-icon slot="icon" name="exclamation-octagon"></sl-icon>
            <span th:text=${msgErro}></span>
        </sl-alert>

        <p>
            <sl-button href="/veiculos/form" variant="primary">
                <sl-icon slot="prefix" name="plus-circle"></sl-icon>
                Cadastrar veículo
            </sl-button>
        </p>

        <sl-divider></sl-divider>
        
        <form class="input-validation-required" action="#" th:action="@{/veiculos/pesquisar}" th:object="${form}" method="post">
            <sl-input name="placa" label="Placa" th:value="*{placa}" clearable></sl-input>
            <br>

            <sl-select label="Fabricante" name="idFabricante" th:value="*{idFabricante}" clearable> <!-- th:value="${idFabricante}" é usado para manter a opção selecionada após a consulta ser realizada -->
                <sl-option th:each="f : ${fabricantes}" th:value="${f.id}" th:text="${f.descricao}">Option 1</sl-option>
            </sl-select>
            <br>

            <sl-select label="Modelo" name="idModelo" th:value="*{idModelo}" help-text="Selecione um fabricante para ativar este campo" disabled clearable> <!-- th:value="${idModelo}" é usado para manter a opção selecionada após a consulta ser realizada -->
            </sl-select>
            <br>
            
            <sl-button variant="success" type="submit" id="btnPesquisar">
                <sl-icon slot="prefix" name="search"></sl-icon>
                Pesquisar
            </sl-button>
        </form>
        
        <figure>
            <br>
            <table>
                <thead>
                    <tr>
                        <th>Placa</th>
                        <th>Ano</th>
                        <th>Fabricante</th>
                        <th>Modelo</th>
                        <th>Tipo</th>
                        <th>Foto</th>
                        <th>Alterar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </figure>

        <sl-dialog id="dialogConfirmarExclusao">
            <sl-icon name="exclamation-triangle" slot="label"></sl-icon>
            Confirmar exclusão do veículo <strong id="spanPlacaVeiculo"></strong>?
            <sl-button slot="footer" variant="primary" id="btnConfirmar">
                <sl-icon slot="prefix" name="check-circle"></sl-icon>
                Sim
            </sl-button>
            <sl-button slot="footer" variant="default" onclick="document.querySelector('#dialogConfirmarExclusao').hide()">
                <sl-icon slot="prefix" name="x-circle"></sl-icon>
                Cancelar
            </sl-button>
        </sl-dialog>

        <sl-dialog id="dialogFoto">
            <img id="imgVeiculo">
        </sl-dialog>
    </div>
</body>
</html>